.Experience {
  background-color: #0e1111;
  min-height: 100vh;
  min-width: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Experience-header {
  color: #fffbfc;
  /* margin-top: 3vh; */
}

.Experience-box {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: center;
  max-width: 80vw;
  max-height: 70vh;
}

.Experience-TabPanel {
  border: 1px snow solid;
  border-radius: 5%;
  background-color: snow;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin-top: 4vh; */
  margin-left: 2vw;
  max-width: 20vw;
  max-height: 50vh;
  overflow: "hidden";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
  transition: box-shadow 0.3s; /* Add transition for smooth effect */
}

.Experience-TabPanel:hover {
  transform: scale(1.005); /* Scale the image on hover */
  box-shadow: 0 4px 8px #0bece5; /* Add a stronger shadow on hover */
}
.Experience-tabImg {
  display: flex;
  height: 20vh;
  width: 20vw;
  /* margin-top: 4vh; */
  object-fit: contain;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Experience-tabImgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  text-align: center;
}

.TabIndicator {
  color: #fffbfc;
}

.MuiTab-root.textColorPrimary {
  color: #0bece5;
}

.MuiTab-textColorSecondary {
  color: #06726e;
}

.link {
  color: #0d8ca5;
}
