.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  align-items: center; /* Center items vertically */
  gap: 10px;
}

.App-header {
  background-color: #0e1111;
  min-width: 100vw;
  /* flex-direction: row; */
}
.App-info {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fffbfc;
}

.App-link {
  color: #0bece5;
}

.App-face {
  width: 50%; /* Adjust size as needed */
  height: 50%; /* Adjust size as needed */
  object-fit: cover;
  border-radius: 10%; /* Make it a circle */
  overflow: hidden; /* Clip the image to the circle shape */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
  justify-content: left;
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.App-face:hover {
  transform: scale(1.1); /* Scale the image on hover */
  box-shadow: 0 4px 8px #0bece5; /* Add a stronger shadow on hover */
}

.App-face img {
  width: 100%; /* Make the image fill the circle */
  height: 100%; /* Make the image fill the circle */
  object-fit: cover; /* Ensure the image covers the circle completely */
}
button {
  color: #0bece5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary {
  color: #0bece5;
}

/* #F08080 */
